<div class="ui container ">
    <div class="ui grid">
        <div class="ui four column row">
            <div class="ui segment four wide column">
                Connectés :
                <div class="ui hidden divider"></div>
                <div class="ui list" id="connected">
                </div>
            </div>
            <div class="ui twelve wide column">
                <div class="ui segment" id="messages">
                </div>
                <form action="#" class="ui form" id="message">
                    <div class="ui field">
                        <div class="ui right labeled input fluid">
                            <input type="text" placeholder="Message...">
                            <button class="ui left button teal">Envoyer</button>
                        </div>
                    </div>
                    <div class="ui fields">
                        <div class="ui field">
                            <input type="text" placeholder="Pseudo...">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>