<% console.log(req.session) %>
<% if(req.session.passport && req.session.passport.user){ %>
Bonjour utilisateur n°<%= req.session.passport.user %>
<% }else{ %>
Veuillez vous <a href="/login">connecter</a> ou vous <a href="/register">inscrire</a>.
<% } %>

<div class="ui horizontal divider">Users</div>
<div class="ui list horizontal" id="users_list"></div>

